[Unit]
Description=Altaf web-app Node.js Application
After=network.target cloud-init.service
Wants=cloud-init.service

[Service]
EnvironmentFile=/opt/csye6225/web-app/.env
Type=simple
User=csye6225
ExecStart=/usr/bin/node /opt/csye6225/web-app/app.js
Restart=on-failure
WorkingDirectory=/opt/csye6225/web-app

[Install]
WantedBy=cloud-init.target