[Unit]
Description=Your Node.js Application
After=network.target cloud-final.service
Wants=cloud-final.service

[Service]
EnvironmentFile=/home/admin/web-app/.env
Type=simple
User=admin
ExecStart=node /home/admin/web-app/app.js
Restart=on-failure
WorkingDirectory=/home/admin/web-app

[Install]
WantedBy=multi-user.target